@import "tailwindcss";
@font-face {
  font-family: super-water;
  src: url("./fonts/Super Water.ttf");
}
@font-face {
  font-family: handwriting;
  src: url("./fonts/Handwriting-Regular.ttf");
}
body {
  font-family: handwriting;
  background-image: url("imgs/bggif.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 -230px;
}

html,
body,
.default {
  cursor: url("./imgs/cursor/default.png"), auto;
}

.pointer {
  cursor: url("./imgs/cursor/pointer.png"), auto;
}

.letter {
  border-image-slice: 147 143 169 165 fill;
  border-image-width: 100px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./imgs/cards/letter.png");
  border-style: solid;
}
